.SignBlock {
  height: 236px;
  display: grid;
  grid-template-columns: 105px 2fr 2fr 105px;
  grid-template-rows: 95px 60px 48px 33px;
}
.SignBlock__item1 {
  grid-area: 1/1/5/2;
  display: flex;
  justify-content: flex-end;
}
.SignBlock__item1__box {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
  width: 54px;
  height: 17px;
}
.SignBlock__item1__box:hover {
  cursor: pointer;
  border-bottom: 2px solid #3c71ff;
}
.SignBlock__item1__word {
  margin-left: 8px;
  margin-top: 2px;
  font-size: 14px;
  font-weight: 400;
}
.SignBlock__item1__box:hover .SignBlock__item1__word {
  font-weight: 700;
}
.SignBlock__item2 {
  grid-area: 1/2/2/4;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  align-items: flex-end;
}
.SignBlock__item3 {
  grid-area: 2/2/3/4;
  font-size: 30px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.SignBlock__item4 {
  grid-area: 3/2/4/4;
  font-size: 13px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.SignBlock__item5 {
  grid-area: 4/2/5/4;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: flex-end;
}
.SignBlock__item5__line {
  flex: auto;
  margin-left: 9px;
}
.SignBlock__item5__line__hr {
  border: 1px black solid;
}
@media screen and (max-width: 610px) {
  .SignBlock {
    width: 100%;
    height: 228px;
    display: grid;
    grid-template-columns: 8px auto 8px;
    grid-template-rows: 41px 46px 44px 64px 33px;
  }
  .SignBlock__item1 {
    grid-area: 1/2/2/3;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
  .SignBlock__item2 {
    grid-area: 2/2/3/3;
    display: flex;
    align-items: flex-end;
  }
  .SignBlock__item3 {
    grid-area: 3/2/4/3;
    display: flex;
    align-items: flex-end;
  }
  .SignBlock__item4 {
    grid-area: 4/2/5/3;
    display: flex;
    align-items: flex-end;
  }
  .SignBlock__item5 {
    grid-area: 5/2/6/3;
    display: flex;
    align-items: flex-end;
  }
}
@media screen and (max-width: 417px) {
  .SignBlock {
    width: 360px;
  }
  .SignBlock__item4 {
    width: 342px;
  }
}
